<!-- <h2><i><mark>Please check the review of your quiz and if you have missed any questions please go back and submit them</mark></i></h2>
<div>
<div class="css" *ngFor="let quiz of quizs">
<h3>Q.{{quiz.question}}</h3>
<h3>Your answer:<mark>{{quiz.answer}}</mark></h3>
</div>
<button (click)="back()">Back to Quiz</button>
<button (click)="result()">Submit</button>
</div> -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<br><router-outlet></router-outlet>

<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://thumbs.dreamstime.com/b/vector-illustration-isolated-white-background-login-button-icon-login-icon-button-126998514.jpg" alt=""/>
                        <h3>Welcome</h3>
                        <input type="submit" name="" value="New User" routerLink="/register"/><br/>
                      </div>
                    <div class="col-md-9 register-right">
                            <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Login </h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                       <div class="form-group">
                                            <input type="text" class="form-control" placeholder="User Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" value="" />
                                        </div>
                                        
                                        
                                        <input type="submit" class="btnRegister"  value="Login" routerLink="/home"/>
                                    </div>
                                    
                                        <!-- <div class="form-group">
                                            <input type="password" class="form-control"  placeholder="Confirm Password *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <div class="maxl">
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="male" checked>
                                                    <span> Male </span> 
                                                </label>
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="female">
                                                    <span>Female </span> 
                                                </label>
                                            </div>
                                        </div> -->
                                    </div>
                                    
                                    <div class="col-md-6">
                                      <br><br><br>  
                                        <!-- <input type="submit" class="btnRegister"  value="Transfer Amount"/> -->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <!-- <h3  class="register-heading">Apply as a Hirer</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="First Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Last Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" value="" />
                                        </div>


                                    </div> -->
                                    <div class="col-md-6">
                                                                           
                            </div>
                        </div>
                    </div>
                </div>

            </div>