<!-- <div align="center">
  <h2>Welcome to ICIN BANK</h2>
</div> -->
<br />
<br />
<div>
<ul>
  <!-- <li>
    <a routerLink="/takequiz">Request</a>
  </li> -->
  <form>
  <button (click)="reg()">Login</button>
    </form>
  
  <!-- <li>
    <a routerLink="/review">Transfer</a>
  </li>
  <li>
    <a routerLink="/results">Transaction</a>
  </li>
  <li>
    <a routerLink="/profile">Profile</a>
  </li>
  <li>
    <a routerLink="/saving">Saving details</a>
  </li> -->
</ul>

</div>
<br/>
<br/>
<div align="center">
<router-outlet></router-outlet>

</div>

