<!-- <p>profile works!</p> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRAyd59Rdb-AVScBP7fCYxvtIpYvqYfsZ1V8Q&usqp=CAU" alt=""/>
                        <h3>My Profile</h3>
                        <hr>
                        <h3>Account Number:</h3>
                        <h3>12345678</h3>
                        
                    </div>
                    <div class="col-md-9 register-right">
                       
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                               <div class="wrapper">
                                <div class="container">
   
                                <h3 class="register-heading">User Name</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter your account number *" value="" />
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                                                                <div class="col-md-6">
                                                                        </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
